<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.url">jdbc:sqlserver://localhost;databaseName=EMPRESAHB26;encrypt=true; trustServerCertificate=true; </property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password">abc123.</property>
        <!-- Mostrar SQL en consola -->
        <property name="hibernate.show_sql">true</property>
        <!-- Formatear SQL para que sea legible -->
        <property name="hibernate.format_sql">true</property>
        <!-- Opcional: mostrar los valores de los parámetros -->
        <property name="hibernate.use_sql_comments">true</property>
        <mapping resource="MAPEO/Proxecto.hbm.xml"/>
        <mapping resource="MAPEO/Curso.hbm.xml"/>
        <mapping resource="MAPEO/Vehiculo.hbm.xml"/>
        <mapping resource="MAPEO/Empregado.hbm.xml"/>
        <mapping resource="MAPEO/Departamento.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
